:root {
  --bg-color: #1b1b1b;
  --card-color: rgba(229, 229, 229, 0.2);
  --font: "Roboto", Helvetica, Arial, sans-serif;
}

body {
  align-items: center;
  justify-content: center;
  text-align: center;
}

p {
  font-family: var(--font);
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}

h4 {
  font-family: var(--font);
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
}

div {
  width: auto;
  padding: 0;
  margin: 0 auto;
}
