:root {
  --bg-color: #1b1b1b;
  --card-color: rgba(229, 229, 229, 0.2);
  --font: "Roboto", Helvetica, Arial, sans-serif;
  --box-shadow: rgba(0, 0, 0, 0.4);
}

.Photos {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Photos .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.Photos div.image-card {
  background-color: var(--card-color);
  width: 550px;
  height: auto;
  padding: 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 812px) {
  .Photos div.image-card {
    width: 320px;
    height: auto;
    display: block;
    flex-direction: column;
    margin-left: 0px;
    padding: 10px;
  }
}
